<!--  HEADER -->
<%- include('include/_header') %>
  <!--  /HEADER -->
<div class="add-edit-wrapper">
  <div class="addproducts-flex-container">
    <div class="add-form">
      <form action="/addProduct" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" id="" placeholder="product name" />
        <input type="file" name="image" id="image" value="" required>
        <input type="text" name="description" id="" placeholder="product description" />
        <input type="number" name="price" id="" placeholder="product price" />
        <button type="submit">Add</button>
        <%- include("message") %>
      </form>
    </div>
    <div class="back-link-admin">
      <a href="/userStart">Back to Start</a>
    </div>
    <% products.forEach(product=>{%>
      <% if (product._id==productId) { %>
        <div class="add-form-update">
        <form action="/addProduct/edit/<%= product._id %>" method="POST" enctype="multipart/form-data">
          <input type=" text" name="title" id="" value="<%= product.title %>"  />
  
          <input type="file" name="image" id="image" value="" required />
          <input type="text" name="description" id="" value="<%= product.description %>"
             />
          <input type="number" name="price" id="" value="<%= product.price %>"  />
          <button type="submit">Update</button>
          <a href="/addProduct">Cancel</a>
        </form>
      </div>
  </div>

<div class="products-flex-container">
      <% } else { %>
        <div class="products-container">
          <ul>
            <li class="products-li">
              <div class="products-content">
                <span>
                  <h3>Title:</h3>
                  <%=product.title%>
                </span>
                <div class="img_container">
                  <img src="data:image/<%=product.img.contentType%>;base64,<%=product.img.data.toString('base64')%>"
                    alt="" class="item_img" />
                </div>
              
              </div>
              <span>
                <h4>Description:</h4>
                <%=product.description%>
              </span>
              <span>
                <h4>Price:</h4>
                <%=product.price%>
              </span>
            </li>
            <a href="/addProduct/edit/<%= product.id %>" class="products-a-edit">Edit</a><a
              href="/addProduct/delete/<%= product.id %>" class="products-a-delete">Delete</a>
          </ul>
        </div>
        <% } %>
          <%})%>
</div>
</div>
            <!--  FOOTER -->
            <%- include('include/_footer') %>
              <!--  /FOOTER -->