<!--  HEADER -->
<%- include('include/_header') %>
    <!--  /HEADER -->
    <div class="start-header">
        <div class="start-header-content">
            <div class="start-header-title">
                <h1 class="logo"><a href="/userStart">School-shop</a></h1>
            </div>

            <div class="start-header-links">
                <% if (user.role) { %>
                    <a href="/addProduct"><i class="fas fa-plus"></i></a>
                    <% } %>
                        <a href="/wishlist"><i class="fas fa-heart"></i></a>

                        <a href="/shoppingCart"><i class="fas fa-shopping-bag"></i></a>

                        <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </div>

    <div class="welcome-user">
        <h1>
            <%=user.name%>s shopping cart
        </h1>
    </div>
    <div class="back-link-shopping">

        <a href="/userStart">Continue shopping</a>
    </div>
    <%- include("message") %>

        <ol>
            <% orders.forEach(order=> { %>
                <li>
                    <h4>
                        <%= order.title %>
                    </h4>
                    <p>
                        Price:
                        <%= order.price %> kr
                    </p>
                    <p>
                        Quantity:
                        <a class="plus-minus" href="/reduceincart/<%= order.id %>">–</a>
                        <%= order.quantity%>
                            <a class="plus-minus" href="/addincart/<%= order.id %>">+</a>
                    </p>
                    <p>Total price:
                        <%= order.total%>kr</p>
                    <a class="remove-link" href="/shoppingcart/remove/<%= order.id %>"><i class="fas fa-times"></i></a>
                </li>
                <% }) %>
        </ol>

        <% if (totalAmount> 1) { %>
            <div class="total-amount">
                <p>
                    Total amount:
                    <%=totalAmount%> kr
                </p>
            </div>
            <% } %>
                <div class="checkout-link">
                    <a href="/checkout">Checkout</a>
                </div>
                <!--  FOOTER -->
                <%- include('include/_footer') %>
                    <!--  /FOOTER -->