<!--  HEADER -->
<%- include("include/_header") %>
    <!--  /HEADER -->

    <div class="start-header">

        <div class="start-header-title">
            <h1>Welcome
                <%= user.name %>!</h1>
        </div>

        <div class="start-header-links">
            <% if (user.role) { %>
                <a href="/addProduct">Add Product</a>
                <% } %>
                    <% if (user.wishList) { %>
                        <a href="/wishlist">Wishlist</a>
                        <% } %>
                            <a href="/logout">Logout</a>
        </div>
    </div>
    <%- include("message") %>

        <!-- Show products grid -->
        <%- include("include/_products") %>

            <!--  FOOTER -->
            <%- include("include/_footer") %>
                <!--  /FOOTER -->